@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joker? I hardly knew her!</h1>
    <p>Database of a jokes, designed to gain practice in C# and ASP.NET!</p>
</div>